In [89]:
import pandas as pd
game_file = "../Resources/Purchase_data.csv"

In [90]:
game_df=pd.read_csv(game_file)
game_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [134]:
user_count=game_df['SN'].value_counts()
unique=game_df['Item Name'].unique()
unique_item_count=len(unique)
avg_price=game_df['Price'].mean()
num_purchase=game_df['Purchase ID'].count()
total_revenue=avg_price*num_purchase

item_data = {'Unique Item Count':[unique_item_count], 
             'Average Price':["${:,.2f}".format(avg_price)], 
             'Number of Purchases': [num_purchase], 
             'Total Revenue':[total_revenue]}
item_df=pd.DataFrame(item_data)
# item_df
clean_game_df=game_df.set_index('SN')

# unique_game_df=clean_game_df.drop_duplicates(subset=['SN'], keep='first', inplace=False, ignore_index=False)
# unique_game_df.head()

unique_game_df=game_df.drop_duplicates(subset=['SN'], keep='first', inplace=False, ignore_index=False)
gender_df=unique_game_df["Gender"]
male=unique_game_df[unique_game_df["Gender"] == "Male"]
female=unique_game_df[unique_game_df["Gender"] == "Female"]
other=unique_game_df[unique_game_df["Gender"] == "Other / Non-Disclosed"]
male_count=len(male)
female_count=len(female)
other_count=len(other)
Total_count=len(male)+len(female)+len(other)
male_percent=male_count/Total_count*100
female_percent=female_count/Total_count*100
other_percent=other_count/Total_count*100
gender_data = {'Gender':["Male","Female","Other / Non-Disclosed"], 
               'Number of Players':[male_count, female_count, other_count],
               'Percent of Player Base':[male_percent, female_percent, other_percent]}
gender_analysis_df=pd.DataFrame(gender_data)
gender_analysis_df.set_index('Gender')

# , ("%{:,.2f}".format(female_count/user_count)), ("%{:,.2f}".format(other_count/user_count))

# columns=["Gender"]
# female_df=game_df.loc[game_df["Gender"]=="Female", columns]
# female_df
# male_df=game_df.loc[game_df["Gender"]=="Male", columns]
# male_df

# gender_df=game_df[['SN','Gender']]
# unique_gender_df=gender_df.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
# unique_gender_df.set_index('Gender')
# male=unique_gender_df[unique_gender_df["Gender"] == "Male"]
# female=unique_gender_df[unique_gender_df["Gender"] == "Female"]
# male_count=len(male)
# female_count=len(female)
# male

# unique_gender_group=unique_gender_df.groupby("Gender")
# unique_gender_df.head()
# female_count=unique_gender_group

                       Number of Players  Percent of Player Base
Gender
Male                                 484               84.027778
Female                                81               14.062500
Other / Non-Disclosed                 11                1.909722

In [145]:
gender_group=game_df.groupby("Gender")

gender_comparison_count=gender_group.count()
gender_comparison_mean=gender_group.mean()
gender_comparison_sum=gender_group.sum()



gender_item_df=pd.DataFrame({ "Gender" : ["Male", "Female", "Other/ Non-Disclosed"],
                           "Purchase count": [652,113,15],
                            "Average Purchase Price": [1967.64,361.94,50.19],
                            "Total Purchase Value": [3.02, 3.20, 3.35],
                            "Avg Total Purchase Per Person": [1967.64/male_count,361.94/female_count,50.19/other_count]})

gender_item_df.set_index("Gender")

,Purchase count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Male,652,1967.64,3.02,4.065372
Female,113,361.94,3.20,4.468395
Other/ Non-Disclosed,15,50.19,3.35,4.562727